<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalTitle"></h4>
      </div>
      <div class="modal-body">
        <div id="modalRibbonContent"></div>
        <div id="modalMainContent"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" id="modalBackButton"></button>
        <button type="button" class="btn btn-link" data-dismiss="modal" id="modalCancelButton"></button>
        <button type="button" class="btn btn-primary" id="modalNextButton"></button>
      </div>
    </div>
  </div>
</div>
